.newsletterContainer {
  background: #f2f2f2;
  padding: 30px;
}
.newsletterTitleContainer {
}
.newsletterWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 675px;
  margin: 0 auto;
}
.newsletterWrapper > div {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
}
.newsletterWrapper > div > input {
  width: 268px;
  height: 46px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
}
.newsletterWrapper button {
  background-color: #000;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 48px;
  cursor: pointer;
  width: 140px;
}
.NewsletterErrorLabel {
  color: #d7182a;
  font-size: 12px;
  width: 100%;
  text-align: start;
}
.newsletterInputError {
  border: 1px solid #d7182a !important;
}
.newsletterDispatchedWrapper {
  display: flex;
  flex-flow: row wrap;
}
.newsletterDispatchedFirstTitle {
  font-family: "Nunito", "sans-serif";
  color: #000;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
}
.newsletterDispatchedSecondTitle {
  font-family: "Nunito", "sans-serif";
  color: #000;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
}
.newsletterDispatchedButton {
  font-family: "Nunito", "sans-serif";
  background-color: #000;
  color: #fff;
  width: 328px;
  height: 48px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 15px;
  cursor: pointer;
}
.newsletterDispatchedButton:hover,
.newsletterWrapper button:hover {
    background-color:#333333;
}