.newsletterContainer {
  background: #f2f2f2;
  padding: 30px;
}
.newsletterTitleContainer {
}
.newsletterWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 675px;
  margin: 0 auto;
}
.newsletterWrapper > div {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
}
.newsletterWrapper > div > input {
  width: 268px;
  height: 46px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
}
.newsletterWrapper button {
  background-color: #000;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 48px;
  cursor: pointer;
  width: 140px;
}
.NewsletterErrorLabel {
  color: #d7182a;
  font-size: 12px;
  width: 100%;
  text-align: start;
}
.newsletterInputError {
  border: 1px solid #D7182A !important;
}
